AddType image/x-icon .ico

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} \.(ini|php)$
RewriteRule ^(.*) index.php [L,QSA]
</IfModule>

AddDefaultCharset UTF-8
php_flag magic_quotes_gpc Off
Options All -Indexes
