body {
	background: #FdFdFd url('../images/bricks.png') repeat;
	font: 12px Tahoma,Serif,Arial;
	line-height: 18px;
	color: #383838;
}

h1{
	font-family: Tahoma, serif;
	font-size: 15px;
}
img{
	border: 0;
}
table, table td { 
	padding:0;
	border-collapse:collapse;
}
input[type=text], input[type=password], textarea {
	padding: 4px;
	border: 1px solid #CCC;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
a {
	color: #00ABC2;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
}
a:hover {
	color: #00C7E2;
	text-decoration: underline;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
}
.errorSend {
	display: inline-block;
	margin-left: 30px;
	color: #AC0000;
}
.arrowLeft {
	display: block;
	background: url('../images/left_vertic.gif') no-repeat 0 4px;
	padding-left: 15px;
}
.btn {
	display: block;
	margin-top: 10px;
	padding: 5px;
	color: #555;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: whiteSmoke;
	background-image: -ms-linear-gradient(top,white,#E6E6E6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,white,#E6E6E6);
	background-image: -o-linear-gradient(top,white,#E6E6E6);
	background-image: linear-gradient(top,white,#E6E6E6);
	background-image: -moz-linear-gradient(top,white,#E6E6E6);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
	text-decoration: none;
	background: #e6e6e6;
	color: #333;
}


.btn:active {
	background-color: #E6E6E6;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,1);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 1);
}
#wrapper{
	width:920px;
	margin:0 auto;
	
}

#header {

}

#header .logo{
	float:left;
	width:200px;
	height:70px;
}

#header .menu{
	clear:both;
	float:left;
	margin-top: 10px;
	width:100%;
	background: #fff url('../images/bg-nav.gif') repeat;
	border: 1px solid #CDCDCD;
	border-radius: 2px; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	box-shadow: 0 2px 2px -2px #CCC;
	-moz-box-shadow: 0 2px 2px -2px #ccc;
	-webkit-box-shadow: 0 2px 2px -2px #CCC;
	/*-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	-o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	-khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);*/
}
#header .menu ul {
	float: left;
	margin:0;
	padding:0;
}
#header .menu ul li{
	float:left;
	margin:0;
	padding:0;
	color: #555;
	border-right: 1px solid #DDD;
	list-style:none;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	display:block;
}
#header .menu ul li a {
	float: left;
	padding: 14px 20px 14px 20px;
	border-right: 1px solid #fff;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}
#header .menu ul li a.logOut {
	padding-left:0px!important;
}
#header .menu ul li a:hover {
	color: #00CAE6;
}
#header .smalcart{
	float:right;
	color: #555;
	text-shadow: 0 1px 0 #fff;	
	border: 1px solid #CDCDCD;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 2px 2px -2px #CCC;
	-moz-box-shadow: 0 2px 2px -2px #ccc;
	-webkit-box-shadow: 0 2px 2px -2px #CCC;
	background: #F8F8F8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(248, 248, 248, 1)),color-stop(100%,rgba(232, 232, 232, 1)));
	background: -webkit-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -o-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -ms-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0);
}
.smalcartCont {
	float:left;
	padding:10px;
}
#header .smalcart a {
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px;
	color: #555;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: whiteSmoke;
	background-image: -ms-linear-gradient(top,white,#E6E6E6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,white,#E6E6E6);
	background-image: -o-linear-gradient(top,white,#E6E6E6);
	background-image: linear-gradient(top,white,#E6E6E6);
	background-image: -moz-linear-gradient(top,white,#E6E6E6);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);

}
#header .smalcart a:hover {
	text-decoration: none;
	background: #e6e6e6;
	color: #333;
}
#header .smalcart a:active {
	background-color: #E6E6E6;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,1);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 1);
}
.cartIcon {
	width: auto;
	height: 30px;
	background: #474747;
}
.cartIcon .icon {
	float: right;
	display: block;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	background: url(../images/shopping-cart.png) right 3px no-repeat;
}
.cartIcon span {
	float: left;
	display: block;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	font-weight: bold;
	padding: 6px 0 0 10px;
}
.breadcrumbs{
	width: 100%;
	float: left;
	margin-top: 10px;
}
#content {
	margin: 10px 0 10px 20px;
	background: #F7F7F7;
	border: 1px solid #CDCDCD;
	width:738px;
	float:left;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 2px 2px -2px #CCC;
	-moz-box-shadow: 0 2px 2px -2px #ccc;
	-webkit-box-shadow: 0 2px 2px -2px #CCC;
}
#content  h1 {
	margin: 0;
	padding: 10px;
	color: #555;
	text-shadow: 0 1px white;
	border-bottom: 1px solid #CDCDCD;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #F8F8F8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(248, 248, 248, 1)),color-stop(100%,rgba(232, 232, 232, 1)));
	background: -webkit-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -o-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -ms-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0);
}
.mainCont {
	float: left;
	padding: 10px;
}
#content p {
	margin-top: 0;
	font-size: 14px;
	text-shadow: 0 1px 0 #fff;
}
#sidebar{
	width:160px;
	float:left;
	padding-top: 10px;
}
.login {
	float: right;
}
.login a {
	display: block;
	float: left;
	color: #000;
	text-shadow: 0 1px white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.login a:hover {
	color: #00CAE6;
}
.login .enter {
	padding: 14px 7px 14px 10px;
}
.login .logOut {
	padding: 14px 20px 14px 0;
}
.login .enterLog {
	padding: 14px 20px 14px 10px;
}
.sidebarmenu {
	float: left;
	border: 1px solid #CDCDCD;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 2px 2px -2px #CCC;
	-moz-box-shadow: 0 2px 2px -2px #ccc;
	-webkit-box-shadow: 0 2px 2px -2px #CCC;
	background: #F8F8F8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(248, 248, 248, 1)),color-stop(100%,rgba(232, 232, 232, 1)));
	background: -webkit-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -o-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -ms-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0);
}
.sidebarmenu ul{
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: bold 13px Tahoma;
	width: 100%; /*\D8\E8\F0\E8\ED\E0 \EC\E5\ED\FE */
}
.sidebarmenu ul li{
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid #fff;
}
.sidebarmenu ul li:last-child {
	border-bottom: 0px solid #ccc;
}
.sidebarmenu ul li:hover {
	background: #F8F8F8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(248, 248, 248, 1)),color-stop(100%,rgba(232, 232, 232, 1)));
	background: -webkit-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -o-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -ms-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0);
}
/* \D1\F2\E8\EB\E8 \F1\F1\FB\EB\EE\EA \E4\EB\FF \EE\F1\ED\EE\E2\ED\EE\E3\EE \F1\EF\E8\F1\EA\E0 \EC\E5\ED\FE */
.sidebarmenu ul li a{
	display: block;
	overflow: auto;
	color: #555;
	border-bottom: 1px solid #CCC;
	text-shadow: 0 1px 0 #fff;	
	text-decoration: none;
	padding: 10px 20px 10px 10px;
}
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited,
.sidebarmenu ul li a:active{
	
}
.sidebarmenu ul li a:visited{
	
}
.sidebarmenu ul li a:hover{
	color: #00CAE6;
}
/*\D1\F2\E8\EB\E8 \E4\EB\FF \EF\EE\E4\EC\E5\ED\FE */
.sidebarmenu ul li ul{
	position: absolute;
	width: 170px; /*\F8\E8\F0\E8\ED\E0 \EF\EE\E4\EC\E5\ED\FE */
	top: 0;
	visibility: hidden;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	background: #F8F8F8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(248, 248, 248, 1)),color-stop(100%,rgba(232, 232, 232, 1)));
	background: -webkit-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -o-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -ms-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0);
}
.sidebarmenu a.subfolderstyle{
	background:url('../images/right_vertic.gif') no-repeat 93% 50%;/*\E8\E7\EE\E1\F0\E0\E6\E5\ED\E8\E5(\F1\F2\F0\E5\EB\EE\F7\EA\E0 \E2\EF\F0\E0\E2\EE)*/
}
/* Holly Hack for IE \\*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */
#footer{
	clear: both;
	float:left;
	height:60px;
	width:100%;
	text-align:right;

}

.product{
	float:left;
	border: 1px solid gray;
	border-radius: 2px; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;  
	text-align:center;
	padding: 10px;
	width:150px;
	height:150px;
	margin: 10px;
	background: #F8F8F8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#F8F8F8 0,#E8E8E8 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F8F8F8),color-stop(100%,#E8E8E8));
	background: -webkit-linear-gradient(top,#F8F8F8 0,#E8E8E8 100%);
	background: -o-linear-gradient(top,#F8F8F8 0,#E8E8E8 100%);
	background: -ms-linear-gradient(top,#F8F8F8 0,#E8E8E8 100%);
	background: linear-gradient(to bottom,#F8F8F8 0,#E8E8E8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0);
	border: 1px solid #CDCDCD;
	-webkit-box-shadow: 0 0 0 #CCC inset,0 1px 0 white,0 0 1px 1px whiteSmoke;
	box-shadow: 0 0 0 #CCC inset,0 1px 0 white,0 0 1px 1px whiteSmoke;
}
.product h2 a {
	color: #00C7E2;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
}
.product h2 a:hover {
	color:#00ABC2;
}
.card_product{
	float:left;
	text-align:center;
}
.card_product .product_image {
	float:left;
	border: 1px solid #ccc;
	border-radius: 2px; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	background:#fff;	
	margin: 10px 0 10px 0;
}
.widthImg img {
	width:180px !important;
	height:180px !important;
}
.card_product .product_desc{
	float:left;
	text-align:left;
	padding: 10px;

}
.product_desc ul li span {
	font-style: normal;
	font-weight: normal;
}
.product_desc ul {
	width:476px;
}
.product_desc ul li {
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
}
.product_desc strong {
	margin-left: 20px;
}
.product_price .prdPrice {
	display: block;
	margin-bottom: 5px;
}
.card_product .product_buy a{
	float:right;
	margin: 3px 0px 0 20px;
}
.card_product .price{
	clear:both;
	float:left;
	color:green;
	font-size: 12pt;
	font-weight: 600;
	margin: 10px 10px 0 0;
}
.product_buy {
	
}
.product_image img{
	border: 0;
	width:80px;
	height:80px;
}
.product_buy a{
	padding: 5px;
	color: #555;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: whiteSmoke;
	background-image: -ms-linear-gradient(top,white,#E6E6E6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,white,#E6E6E6);
	background-image: -o-linear-gradient(top,white,#E6E6E6);
	background-image: linear-gradient(top,white,#E6E6E6);
	background-image: -moz-linear-gradient(top,white,#E6E6E6);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05); 
}

.product_buy a:hover{
	text-decoration: none;
	background: #e6e6e6;
	color: #333;
}
.product_buy a:active {
	background-color: #E6E6E6;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,1);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 1);
}

.product h2{
	font-family: 'Tahoma', Courier, monospace;
	font-size: 14px;
	color: green;
	margin: 0px;
}

.table_cart {
	width:100%;
	font-family: 'Tahoma', Courier, monospace;
	font-size: 14px;
	color: #383838;
	margin: 0px;
}

.table_cart th{
	text-align: center;
	font-size: 13px;
	padding: 7px 11px;
	color: #555;
	border-left: 1px solid #D7D7D7;
	background: #EEE;
	font-weight: normal;
	-webkit-box-shadow: 0 1px 0 #FAFAFA inset;
	box-shadow: 0 1px 0 #FAFAFA inset;
}
.table_cart th:first-child {
	border-left: none;
}
.table_cart tr {
}
.table_cart td{
	text-align: center;
	padding: 5px 0px;
}
.table_cart .row {
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	background: #f8f8f8 !important;
}
.table_cart .row:hover {
	background: #E8F1F3 !important;
}
.totalRow {
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #D7D7D7;
	background: #F8F8F8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(248, 248, 248, 1)),color-stop(100%,rgba(232, 232, 232, 1)));
	background: -webkit-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -o-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: -ms-linear-gradient(top,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	background: linear-gradient(to bottom,rgba(248, 248, 248, 1) 0,rgba(232, 232, 232, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e8e8e8',GradientType=0);

}
.table_order_form {
	border: 0;
	border-spacing: 0px;
}
.table_order_form  td{
	font-family: 'Tahoma', Courier, monospace;
	font-size: 14px;
	color: #383838;
	padding: 3px 5px;
}

.pagination{
	clear:both;
	float:left;
	margin: 10px;
}
.pagination a{
	padding: 4px 7px;
	margin: 0 3px;
	text-decoration:none;
	border: 1px solid lightGrey;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 white inset,0 1px 0 #DFDFDF;
	box-shadow: 0 1px 0 white inset,0 1px 0 #DFDFDF;
	background: #F9F9F9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#F9F9F9 0,#EEE 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F9F9F9),color-stop(100%,#EEE));
	background: -webkit-linear-gradient(top,#F9F9F9 0,#EEE 100%);
	background: -o-linear-gradient(top,#F9F9F9 0,#EEE 100%);
	background: -ms-linear-gradient(top,#F9F9F9 0,#EEE 100%);
	background: linear-gradient(to bottom,#F9F9F9 0,#EEE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#eeeeee',GradientType=0);
}

.pagination a:hover{
	background: #ccc;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#F6F6F6 0,#E8E8E8 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F6F6F6),color-stop(100%,#E8E8E8));
	background: -webkit-linear-gradient(top,#F6F6F6 0,#E8E8E8 100%);
	background: -o-linear-gradient(top,#F6F6F6 0,#E8E8E8 100%);
	background: -ms-linear-gradient(top,#F6F6F6 0,#E8E8E8 100%);
	background: linear-gradient(to bottom,#F6F6F6 0,#E8E8E8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#e8e8e8',GradientType=0);
}

.pagination .activ {
	background: #EDEDED;
	padding: 4px 7px;
	margin: 0 3px;
	color: #555;
	border: 1px solid #cdcdcd;
	border-color: #CDCDCD;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px whiteSmoke inset,0 1px 0 white;
	box-shadow: 0 1px 2px whiteSmoke inset,0 1px 0 white;
}
.pagination .activ:hover {
	background: #EDEDED !important;
	cursor: default;
}

.filter{
float:left;
width:500px;
border: solid 1px gray;
background:#E6DEEA;
padding:5px;
}

.filter select{
width:100px;
}


.filter table{
width:490px;

}

.filter table td{
padding-top:5px;

}

ul.dropdown ul 	{margin: 0px; padding:0px; visibility: hidden; position: absolute; top: 0; left: 100%; }
ul.dropdown ul li 	{font-weight: normal; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; float: none; }

/* для плагина новостей */
.anonsNews {
padding: 10px;
}
.titleNews h2{
padding: 0px;
margin: 0px;
}
.dateNews span{
color: gray;
}
